#wrapper {

  background-color: gray;
  margin: 10px;
  width: 1300px;
  height: 1200px;
}




#sidebar {
  background-color: green;
  width: 120px;
  height: 1000px;
  margin: 10px;
  float: left;
}

header {
background-image: url("achtergrond header.jpg");
  width: 600px;
  height: 75px;
  margin-left: 200px;
  margin-top: 10px;
  float: left;

}


article {
background-image: url("achtergrond header.jpg");
  float: left;
  width: 300px;
  height: 300px;
  margin: 100px;
  background-color: white;
  color: white;
}

article {
  background-image: url("achtergrond header.jpg");
  float: left;
  width: 300px;
  height: 370px;
  margin: 100px;
  background-color: white;
  color: white;
}

article:hover {
  background-image: url(getstickbugged.jpg);
}


h1 {
  text-align: center;
  color: white;
}
